# Python

__pycache__/

*.py[cod]

*.venv

venv/

ENV/



# OS specific files

.DS_Store

Thumbs.db



# Editor directories

.idea/

.vscode/

*.swp



# Sensitive info (Just in case)

*.log

credentials.txt

id_rsa
